@use './styles/theme' as theme;
@use './styles/variables';

html {
  height: 100%;
  @include theme.apply();
}

body {
  color-scheme: light;
  background-color: var(--color-background);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.symbol-filled {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
