@use './styles/theme' as theme;
@use './styles/variables';

html {
  height: 100%;
  @include theme.apply();
}

body {
  color-scheme: light;
  background-color: var(--color-background);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}
